.THIS .slds-scrollable_x { overflow: visible; }
.THIS .slds-scrollable_y { overflow: visible; }

.THIS {
    background-color: rgba(187,220,243,0.6);  
}

.THIS .slds-icon-utility-justify-text .slds-icon-text-default {
    transform: rotate(90deg);
}

.THIS .slds-icon-utility-rows .slds-icon-text-default {
    transform: rotate(90deg);
}

.THIS .slds-icon-utility-assignment .slds-icon-text-default {
    transform: rotate(90deg);
}

.THIS .slds-icon-utility-routing-offline .slds-icon-text-default {
}

.THIS span.slds-assistive-text {
    background: blue;
}